/* FONTS */ 
@font-face {
  font-family:  'marker-felt';
  src: url(../fonts/marker-felt.ttf);
  font-weight: bold;
} 

h1 {
  font-family: 'marker-felt';
  font-size: 10vw;
}

h2, h3, h4, p {
  font-family: 'Open Sans', sans-serif;
}

/* BACKGROUND COLORS*/
#tile1 {
    background-color: #00aeefff;
  }
  
